<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <listeners>
   <listener class-name="Project.End2End.Listeners"/>
   </listeners>
  <test name="Validate Test">
      <classes>
            <class name="Project.End2End.ValidateTitle"/>
      </classes>

    </test> <!-- Test -->
      <test name="Login Test">
      <classes>
            <class name="Project.End2End.Login"/>
      </classes>

    </test> <!-- Test -->
</suite> <!-- Suite -->